body{
    text-align: center;
    background-color: rgb(82, 210, 253);
    margin: 50px;
}

main {
    width: 950px;
    border: 8px solid black;
    margin: 150px auto 72px auto;
    background-color: rgb(248, 97, 42);
}

img{
    width: 200px;
    height: 150px;
}

h1 {
    font-family: 'Acme', 'sans-serif';
    font-size: 45px;
    text-align: center;
    color:rgb(0, 0, 0);
}

h2{
    text-align: justify;
    margin-left: 20px;
    font-family: 'Acme', 'sans-serif';
    font-weight: lighter;
    color: antiquewhite;
}