#hero{
    height: 800px;
    background-color: rgb(71, 70, 70);
    background-position: center;
    background-size: cover;
}

#hero-content{
    width: 900px;
    background-color: rgba(180, 180, 180, 0.281);
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 8px;
    text-align: center;
    padding: 50px 0;
    margin: 0 auto;
    position: relative;
    top: 200px;
}

#hero-content h1{
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    font-family: "Raleway", sans-serif;
    margin: 0;
}

#hero-content p{
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 350;
    margin-bottom: 32px;
}

#hero-content a{
    text-decoration: none;
    background-color: chocolate;
    padding: 12px 24px;
    color: black;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
}

#hero-content a:hover{
    background-color: rgb(184, 86, 16);
}

#highlights h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
    margin: 24px;
}

#highlights {
    padding: 24px;
    background: linear-gradient(180deg, rgb(70, 67, 67), rgb(202, 191, 191));
}

#destinations {
    display: flex;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
    margin-left: 300px;
}

.destination {
    margin: 0 20px;
    text-transform: uppercase;
}

.destination p {
    text-align: center;
    color: chocolate;
    font-size: 24px;
    margin: 20px;
}

.destination img{
    height: 200px;
    width: 100%;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 10px;
    object-fit: contain;
}